* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 1rem;
  background-color: #223445;
  color: white;
}

.page {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: .5rem;
  background-color: #fff;
  color: #223445;
}

.clever-age-logo {
  float: right;
  min-width: 150px;
  max-width: 25%;
  margin: 0 0 1rem 2rem;
  text-decoration: none;
}

.clever-age-logo svg {
  width: 100%;
  height: auto;
}

h1 {
  margin-top: 0;
}

a {
  color: #e8be6e;
}


.github {
  text-align: center;
  font-size: 1.1em;
}
.github a {
  display: inline-block;
  padding: .1em .5em;

  text-decoration: none;

  background-color: #f5f5f5;
  color: #333;
  border: 1px solid currentColor;
  border-radius: 5px;
}
.github svg {
  vertical-align: middle;
  fill: currentColor;
}

dt {
  font-weight: bold;
}