* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #eee;
  margin: 0;
  padding: 1rem;
}

.page {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: .5rem;
  background-color: #fff;
}

.github {
  text-align: center;
  font-size: 1.1em;
}
.github a {
  display: inline-block;
  padding: .1em .5em;

  text-decoration: none;

  background-color: #f5f5f5;
  color: #333;
  border: 1px solid currentColor;
  border-radius: 5px;
}
.github svg {
  vertical-align: middle;
  fill: currentColor;
}

dt {
  font-weight: bold;
}