@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(roboto-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #eee;
  padding: 1rem;
}

.page {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: .5rem;
  background-color: #fff;
}

.github {
  text-align: center;
  font-size: 1.1em;
}
.github a {
  display: inline-block;
  padding: .1em .5em;

  text-decoration: none;

  background-color: #f5f5f5;
  color: #333;
  border: 1px solid currentColor;
  border-radius: 5px;
}
.github svg {
  vertical-align: middle;
  fill: currentColor;
}

dt {
  font-weight: bold;
}