* {
  box-sizing: border-box;
}

.page {
  max-width: 90rem;
  margin: 0 auto;
}

responsive-video-background {
  margin-top: 1rem;
  --overlay-background: hsla(0, 0, 0, 0.3);
}

.demo > div {
  padding: 1rem;

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}

.demo h1 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  align-self: center;
  justify-self: center;

  font-family: system, sans-serif;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.demo1 > div {
  height: 20rem;
}

.demo2 {
  width: clamp(20rem, 50rem - 30vw, 100%);
  height: 20rem;
  margin-left: auto;
  margin-right: auto;
  --overlay-background: hsla(180, 50%, 50%, 0.3);
}

.demo3 {
  --overlay-background: hsla(60, 70%, 80%, 0.7);
}
.demo3 > div {
  height: 150px;
}
.demo3 h1 {
  color: black;
  text-shadow: 3px 3px 10px hsla(60, 70%, 30%, 0.8);
}

.demo4 > div {
  height: 600px;
}
.demo4 p {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  justify-self: right;

  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}

.demo5 > div {
  aspect-ratio: 4/1;
}